.navItem {
  width: 100%;
  height: 75px;
  background-color: #4f5f6e;
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.navItem:hover {
  background-color: #59c2e6;
}

.navItem i {
  margin-right: 15px;
}
